<html>
  <body>
    <h1>Update Contact</h1>
    <a href="./">[back]</a>
    <form id="update" action="./<%=@contact.id%>" method="post">
      name: <input id="name" name="name" type="text" value="<%=@contact.name%>" /><br />
      email: <input id="email" name="email" type="text" value="<%=@contact.email%>" /><br />
      tag: <input id="tag" name="tag" type="text" value="<%=@contact.tag%>" /><br />
      <input id="update" type="submit" value="update" />
    </form>
  </body>
</html>
